@model IEnumerable<HMS.Entity.Models.Doctor>

<div class="row">
    <div class="col-12">
        <h3>Doctor Registration History</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>Doctor ID</th>
                    <th>Doctor Name</th>
                    <th> Doctor Qualification</th>
                    <th> Doctor Specilization</th>
                    <th>Consult Fee </th>
                    <th> Email</th>
                    <th> Phone Number</th>
                    <th>Password </th>
                    <th> ReEnter Password</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
               

                @foreach (var doctor in Model)
                {

                <tr>
                    <td>@doctor.DoctorId</td>
                    <td>@doctor.DoctorName</td>
                    <td>@doctor.DoctorQualification</td>
                    <td>@doctor.DoctorSpecialization</td>
                    <td>@doctor.ConsultFee</td>
                    <td>@doctor.Email</td>
                    <td>@doctor.PhoneNumber</td>
                    <td>@doctor.Password</td>
                    <td>@doctor.ReEnterPassword</td>



             
                    
                 
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>